

<center>

<div class="register">
  <%= form_for(@user) do |f| %>

      <%= f.label :imie %>
      <%= f.text_field :imie %>
      </br>
      <%= f.label :nazwisko %>
      <%= f.text_field :nazwisko %>
      </br>
      <%= f.label :email %>
      <%= f.email_field :email %>
      </br>
      <%= f.label :telefon %>
      <%= f.text_field :telefon %>
      </br>
      </br>


      <%= f.label :password %>
      <%= f.password_field :password %>
      </br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      </br>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
      <a href="//localhost:3000/">Zaloguj się</a>
    </div>
</p>
</center>