
  <% if logged_in? %>
<center>
	<h1>Dodaj informacje</h1>
  Informacja dla:
</br>
<%= form_for(@post) do |f| %>
 <%= f.collection_select(:user_id, User.all, :id, :imie, options = {}, html_options = { :class => "form-control" }) %>
</br>
      <%= render 'shared/error_messages2' %>
	<%= f.label :treść %>
    <%= f.text_field :content, :class => "post_size",disabled: false %>
</br>
    <%= f.submit "Dodaj nową informacje", class: "btn btn-primary" %>
<% end %>


</center>
 <% end %>